@font-face {
  font-display: swap;
  font-family: 'Red Hat Display Medium';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/font/Red_Hat_Display/static/RedHatDisplay-Medium.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Red Hat Display Black';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/font/Red_Hat_Display/static/RedHatDisplay-Black.woff2')
    format('woff2');
}

$cyan-600: #4d96a9;
$cyan-300: #8fe3f9;
$purple-600: #855fb1;
$purple-300: #d9b8ff;
$slate-900: #28283d;
$slate-600: #87879d;
$slate-300: #d1d1df;
$white: #fafafa;

%text-preset-1 {
  font-family: 'Red Hat Display Black';
  font-size: clamp(2.5rem, 1.9718rem + 2.2535vw, 4rem);
  line-height: 1.1;
}

%text-preset-2 {
  font-family: 'Red Hat Display Black';
  font-size: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
  line-height: 1.1;
}

%text-preset-3 {
  font-family: 'Red Hat Display Black';
  font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
  line-height: 1.1;
  letter-spacing: 0.25rem;
}

%text-preset-4 {
  font-family: 'Red Hat Display Medium';
  font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
  line-height: 1.5;
}

%text-preset-5 {
  font-family: 'Red Hat Display Black';
  font-size: 1rem;
  line-height: 1.5;
}

.bg-purple-600 {
  background-color: $purple-600;
}

.bg-cyan-600 {
  background-color: $cyan-600;
}

.btn {
  border-radius: 1.8125rem;
  padding: 1rem 2.5rem;
}

.text-purple-300 {
  color: $purple-300;
}

.text-slate-600 {
  color: $slate-600;
}

.text-white {
  color: $white;
}

.text-slate-900 {
  color: $slate-900;
}

.text-cyan-300 {
  color: $cyan-300;
}

.text-cyan-600 {
  color: $cyan-600;
}

.text-center {
  text-align: center;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

body {
  min-height: 100dvh;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: clamp(3rem, 0.7143rem + 4.7619vw, 5rem);
}

.header__image {
  width: 118px;
}

.hero {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.0625rem;
  row-gap: 3rem;

  @media (min-width: 90rem) {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }

  img {
    height: 160px;
    object-fit: contain;

    @media (min-width: 48rem) {
      height: 303px;
    }
  }

  .hero__content {
    grid-column: 1 / 3;

    @media (min-width: 90rem) {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 2rem 2rem 2rem;

  @media (min-width: 48rem) {
    padding: 0 2rem 4rem 2rem;
  }

  .button {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 48rem) {
      flex-direction: row;
      justify-content: center;
    }

    .download__button {
      @extend %text-preset-5;
      align-self: center;
    }

    .explanation__button {
      @extend %text-preset-5;
      align-self: center;
    }
  }
}

.hero__title {
  @extend %text-preset-1;
}

.hero__text,
.main__text {
  @extend %text-preset-4;
}

.main {
  padding: 2rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  @media (min-width: 48rem) {
    padding-top: 3.5rem;
  }
}

.step-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 1px;
  height: 5rem;
  background-color: $slate-300;
}

.step {
  @extend %text-preset-5;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $white;
  border: 1px solid $slate-300;
}

.main__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(4, 1fr);
  }

  img {
    border-radius: 0.5rem;
    height: 144px;

    @media (min-width: 48rem) {
      height: 160px;
    }

    @media (min-width: 90rem) {
      height: 256px;
    }
  }
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 31.5rem;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main__subtitle {
  @extend %text-preset-3;
  text-transform: uppercase;
}

.main__title {
  @extend %text-preset-2;
}

.footer {
  display: grid;
  justify-items: center;

  .step {
    grid-row: 2 / 4;
    grid-column: 1;
    z-index: 5;
  }

  .footer__content {
    grid-row: 3 / 5;
    grid-column: 1;
    width: 100%;
  }
}

.footer__content {
  background-image: url('./assets/images/mobile/image-footer.jpg');
  background-size: cover;
}

.blue__section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 4rem 2rem;
  background-color: rgba($color: $cyan-600, $alpha: 0.9);
}

.footer__title {
  @extend %text-preset-2;
}

.footer__text {
  @extend %text-preset-4;
}

.footer__button {
  @extend %text-preset-5;
  align-self: center;
}
